* {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 0px auto;
	padding: 0px;
}

#tiles_header {
	height: 5%;
	width: 100%;
	position: absolute;
		top: 0px;
		left: 0px;
	
}

#tiles_nav {
	height: 5%;
	width: 100%;
	position: absolute;
		top: 5%;
		left: 0px; 
}

#tiles_left {
	height: 85%;
	width: 20%;
	position: absolute;
		top: 10%;
		left: 0px;
	margin-top: 1%; 
}

#tiles_content {
	height: 85%;
	width: 80%; 
	position: absolute;
		top: 10%;
		right: 0px;
	margin-top: 1%;
	
}

#tiles_footer {
	height: 5%;
	width: 100%;
	position: absolute;
		bottom: 0px;
		left: 0px;
		
}